Use the data loans_income.csv to do listed practice:

Read the data in pandas, 
1. Draw a sample with 1000 observations.

In [2]:
import os
import pandas as pd
import numpy as np
loans_income  =  pd.read_csv('loans_income.csv', sep=',')

In [3]:
loans_income.head()

        x
0   67000
1   52000
2  100000
3   78762
4   37041

In [4]:
loans_income.shape

(50000, 1)

In [10]:
sample = loans_income['x'].sample(n=1000)

2. Implemented bootstrap to take 10, 50 , 100, 1000 times resampling to repeatedly draw a income sample with 10 incomes
3. Implemented bootstrap to take 10, 50 , 100, 1000 times resampling to repeatedly draw a income sample with 100 incomes

In [14]:
boots1 = list()
for i in range(10):
    boots = loans_income.sample(n=10, replace=True)
    boots1.append(boots)

In [ ]:
boots2 = list()
for i in range(50):
    boots = loans_income.sample(n=10, replace=True)
    boots2.append(boots)

In [ ]:
boots3 = list()
for i in range(100):
    boots = loans_income.sample(n=10, replace=True)
    boots3.append(boots)

In [ ]:
boots4 = list()
for i in range(1000):
    boots = loans_income.sample(n=10, replace=True)
    boots2.append(boots)

In [ ]:
boots5 = list()
for i in range(10):
    boots = loans_income.sample(n=100, replace=True)
    boots5.append(boots)

In [ ]:
boots6 = list()
for i in range(50):
    boots = loans_income.sample(n=100, replace=True)
    boots6.append(boots)

In [ ]:
boots7 = list()
for i in range(100):
    boots = loans_income.sample(n=100, replace=True)
    boots7.append(boots)

In [ ]:
boots8 = list()
for i in range(1000):
    boots = loans_income.sample(n=100, replace=True)
    boots8.append(boots)